*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.logo{
    width: 30px;
    height: 30px;
}

.nav-item, .nav-item a, h2{
    color:white;
}

a:hover, a:active{
    color: #E4A11B !important;
}

.d{
    list-style-type: none;
}

.soru{
    text-align: center;
    margin-top: 3%;
}

.dropdown-item{
    color: black;
}

h2{
    color: #E4A11B;
}